
  <div id="red_bar_title">
    <h1>
      <%= "Nova Regra" %>
    </h1>
  </div>

  <div id="body_write">
  <div id="two-columns">
    <div id="column1">
    
         <%= render :partial => "context_menu" %>

     </div>
     <div id="column2">
        
      <p>
        <b>Nome:</b>
        <%=h @user.name %>
      </p>

      <p>
        <b>Usuário:</b>
        <%=h @user.username %>
      </p>


         <p><%= image_tag("icons/back-icon.png", :border => 0, :size => "16x16" ) %>
			      <%= link_to "Voltar para minha página", pages_path %></p>
    </div>
    </div>
    </div>

