
  <div id="red_bar_title">
    <h1>
      <%= "Configurações da conta" %>
    </h1>
  </div>

  <div id="body_write">
  <div id="two-columns">
    <div id="column1">
    
         <%= render :partial => "context_menu" %>

     </div>
     <div id="column2">
     
      <% if notice then %>
        <% if notice.include?('sucesso') then %>
         <div id="notice1">
            <%= image_tag("icons/accept-icon.png", :border => 0, :size => "16x16" ) %>
            <%= notice %>
         </div>
        <% else %>
         <div id="notice">
            <%= image_tag("icons/delete-icon.png", :border => 0, :size => "16x16" ) %>
            <%= notice %>
         </div>
        <% end %>
     <% end %>
      
      <% pages = Page.find_all_by_user_id(@user.id) %>
      <% count = 0
         pages.each { |page| 
           if page.file_content_type == "text/html" then
             count = count + 1;
           end
         } %>
      <% rules = 0 %>
      <% if pages.size != 0 then
           pages.each { |page|
             rules += Rule.find_all_by_page_id(page.id).size 
           }
        end %>
      <p>
        Você possui <b><%= pages.size %></b> arquivos, dos quais <b><%= count %></b> 
        são páginas HTML editáveis, com <b><%= rules %></b> regras aplicadas sobre elas.
      </p>
        <br>
      <p>
        <b>Seu nome:</b>
        <%=h @user.name %>
      </p>

      <p>
        <b>Seu nome de usuário:</b>
        <%=h @user.username %>
      </p>
      
      <br>

      <p><%= image_tag("icons/user-icon.png", :border => 0, :size => "16x16" ) %>
           <%= link_to "Atualizar dados do usuário", edit_user_path(@user)  %><br>
         <%= image_tag("icons/delete-icon.png", :border => 0, :size => "16x16" ) %>
           <%= link_to "Excluir minha conta", @user, :confirm => 'Tem certeza que deseja excluir sua conta?', 
           :method => :delete, :title => "Deletar regra" %> </p>
      <br>

         <p><%= image_tag("icons/back-icon.png", :border => 0, :size => "16x16" ) %>
			      <%= link_to "Voltar para minha página", pages_path %></p>
    </div>
    </div>
    </div>

