<div id="red_bar_title">
  <h1>
      <%= "Meus Arquivos" %>
  </h1>
</div>

<div id="body_write">
  <div id="two-columns">
    <div id="column1">
      <%= render :partial => "context_menu" %>
    </div>
    <div id="column2">
       
      <div id="files">
      
     
      
      
      
      <table id="table_directories">
        
        <% @directories.each do |directory| %>
         <tr>
          <td><%= image_tag("icons/folder-icon.png", :border => 0, :size => "16x16" ) %>
            <%= directory %> </td></tr>
         <tr><td>
      
      
        <table id="table_files">
               
        
          <% @pages.each do |page| %>
          
          <% direct = page.file.path.split(page.user_id.to_s)[1] %>
          <% if direct.include?(directory) || ((direct.split("/").size == 2) && (directory == 'root')) then %>
         
          <tr class="<%= cycle('list-line-odd', 'list-line-even') %>">
            
            
            <td><% if (page.file_content_type.include?("image")) then %>
                  <%= image_tag("icons/image-file-icon.png", :border => 0, :size => "16x16" ) %>
                <% else %>  
                  <%= image_tag("icons/new-page-icon.png", :border => 0, :size => "16x16" ) %>
                <% end %>
              <%=h link_to(page.file.path.split("/").last, page.file.path.split('public')[1],
               :target => "_blank" ) %></td>
                
            <% if (page.file_content_type == "text/html") then %>
             <td width = "20"> <%= link_to image_tag("icons/accept-icon.png", :border => 0, :size => "16x16"), 
               :controller => :transform, :action => :index, 
               :page_id => page.id, :target => "_blank", :title => "Ver arquivo modificado" %>  </td>                              
             
             <td width = "20"><%= link_to image_tag("icons/info-icon.png", :border => 0, :size => "16x16"), 
               :controller => :rules, :action => :index, :page_id => page.id, :title => "Editar Regras"  %></td>
              
            <% else %>
              <td width = "20">
              <td width = "20">   
            <% end %>
              <td width = "20"><%= link_to image_tag("icons/delete-icon.png", :border => 0, :size => "16x16"), 
                page, :confirm => 'Tem certeza que quer excluir o arquivo?', :title => "Deletar arquivo", :method => :delete %></td>
           
            </tr>
          <% end %>
            <% end %>
             
        </table>
        
        
        
        </td>
        </tr> 
        <% end %>
        </table>
        
        
      </div>

     </div>
   </div>
 </div>
