  <div id="red_bar_title">
    <h1>
      <%= "Adicionar arquivo" %>
    </h1>
  </div>

  <div id="body_write">
  <div id="two-columns">
    <div id="column1">

        <%= render :partial => "context_menu" %>

     </div>
     
     
 
     <div id="column2">
     
      <% if notice then %>
        <% if notice.include?('sucesso') then %>
         <div id="notice1">
            <%= image_tag("icons/accept-icon.png", :border => 0, :size => "16x16" ) %>
            <%= notice %>
         </div>
        <% else %>
         <div id="notice">
            <%= image_tag("icons/delete-icon.png", :border => 0, :size => "16x16" ) %>
            <%= notice %>
         </div>
        <% end %>
     <% end %>

       
       <p>Os arquivos adicionados aqui estarão disponíveis no seu diretório. </p>
       <div id="add_file">
        <% form_for @page, :html => { :multipart => true } do |f| %>
          <%= f.error_messages %>
          <p>
            <%= f.label :file, "Arquivo: " %><br>
            <%= f.file_field :file %>
          </p>
          
          <p>
            <% %><label for="directory">Pastas existentes:</label>
            <% @directories.each do |directory| %>
              <% if directory != 'root' then %>
                <br><%= radio_button_tag 'file_subpath', directory %>
                <%= directory %>
              <% end %>
            <% end %>
          </p>         
          
          
          
          <p>
            <%= f.label :new_subpath, "Criar diretório: " %><br>
            <%= f.text_field :new_subpath, :value => '' %>
          </p>
          
          <p>
            <%= f.submit 'Adicionar' %>
          </p>
        <% end %>
        <p><%= image_tag("icons/back-icon.png", :border => 0, :size => "16x16" ) %>
          <%= link_to 'Voltar', pages_path %></p>
      </div>
       </div>
    </div>
    </div>

