  <div id="red_bar_title">
    <h1>
      <%= "Editar Regras" %>
    </h1>
  </div>

  <div id="body_write">
  <div id="two-columns">
    <div id="column1">
        
        <%= render :partial => "context_menu" %>

     </div>
     <div id="column2">
        
      <h2><%= "for page #{@page.file.path}" %></h2>

     <div id="rules">
      <table>
        <tr>
          <th>Texto</th>
          <th>Seletor CSS</th>
        </tr>

      <% @rules.each do |rule| %>
        <tr class="<%= cycle('list-line-odd', 'list-line-even') %>">
          <td><%=h image_tag("icons/ticket-icon.png", :border => 0, :size => "16x16") %>
            <%=h truncate(rule.text, :length => 35) %></td>
          
          <td>
            <%=h truncate(rule.css_selector, :length => 35) %></td>

          
          <td width = "20"><%= link_to image_tag("icons/page-edit-icon.png", :border => 0, :size => "16x16"), 
             rule %></td>
             
          <td width = "20"><%= link_to image_tag("icons/page-edit-icon.png", :border => 0, :size => "16x16"), 
             edit_rule_path(rule, :page_id => @page.id ) %></td>
             
          <td width = "20"><%= link_to image_tag("icons/delete-icon.png", :border => 0, :size => "16x16"), 
            rule, :confirm => 'Tem certeza que quer excluir a regra?', :method => :delete, :title => "Deletar regra" %></td>
        </tr>
      <% end %>
      </table>
      
     
     </div>
         <p><%= image_tag("icons/back-icon.png", :border => 0, :size => "16x16" ) %>
			      <%= link_to "Voltar para minhas páginas", pages_path  %></p>
    </div>
    </div>
    </div>

