  <div id="red_bar_title">
    <h1>
      <%= "Nova Regra" %>
    </h1>
  </div>

  <div id="body_write">
  <div id="two-columns">
    <div id="column1">
    
         <%= render :partial => "context_menu" %>

     </div>
     <div id="column2">
     
       <% if notice then %>
         <div id="notice1">
           <%= image_tag("icons/accept-icon.png", :border => 0, :size => "16x16" ) %>
           <%= notice %>
         </div>
       <% end %>
        
      <% form_for(@rule) do |f| %>
        <%= f.error_messages %>

        <p>
          <%= f.label :css_selector, "Seletor CSS" %><br />
          <%= f.text_field :css_selector, :size => "35" %>
        </p>
        <p>
          <%= f.label :text, "Novo texto" %><br />
          <%= f.text_area :text, :size => "40x5" %>
        </p>
        <p>
          <%= f.label :value, "Link" %><br />
          <%= f.text_field :value, :size => "35" %>
        </p>
        <p>
          <%= f.label :option, "Opções" %>
          <%= f.select :option, Rule::OPTIONS, :prompt => 'Escolha uma opção' %>
        </p>
          <%= f.hidden_field(:page_id, :value => @page.id) %>
        <p>
          <%= f.submit 'Criar regra' %>
        </p>
      <% end %>



         <p><%= image_tag("icons/back-icon.png", :border => 0, :size => "16x16" ) %>
			      <%= link_to "Voltar para lista de regras", rules_path(:page_id => @page.id) %></p>
    </div>
    </div>
    </div>

