<p>
  <b>Css selector:</b>
  <%=h @rule.css_selector %>
</p>

<p>
  <b>New text:</b>
  <%=h @rule.text %>
</p>

<p>
  <b>Value:</b>
  <%=h @rule.value %>
</p>

<p>
  <b>Option</b>
  <%=h @rule.option %>
</p>

<%= link_to 'Edit', edit_rule_path(@rule) %> |
<%= link_to 'Back', rules_path(:page_id => @rule.page_id) %>
