
  <div id="red_bar_title">
    <h1>
      <%= "Editar Regra" %>
    </h1>
  </div>

  <div id="body_write">
  <div id="two-columns">
    <div id="column1">
       
        <%= render :partial => "context_menu" %>

     </div>
     <div id="column2">
        
        <p>
          <b>Css selector:</b>
          <%=h @rule.css_selector %>
        <br>
          <b>New text:</b>
          <%=h @rule.text %>
        <br>
          <b>Value:</b>
          <%=h @rule.value %>
        <br>
          <b>Option</b>
          <%=h @rule.option %>
        </p>


        <p><%= image_tag("icons/page-edit-icon.png", :border => 0, :size => "16x16" ) %>
			       <%= link_to 'Editar Regra', edit_rule_path(@rule) %>
           <br><%= image_tag("icons/back-icon.png", :border => 0, :size => "16x16" ) %>
			       <%= link_to "Voltar para lista de regras", rules_path(:page_id => @rule.page_id) %></p>
			   
			     
    </div>
    </div>
    </div>

