<html>
<head>
<title>PrankDev</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"">
 <%= stylesheet_link_tag 'style.css' %>
</head>
<body>
  <div id="full_body">
    <div id="home_header">
    </div>
    <div id="home_title">
      <p>
        Crie, modifique e hospede sua página na Internet em minutos, <br> do seu jeito.
      </p>
      <div id="menu_home">
	      <%= render :partial => "menu" %>
	    </div>
    </div>
    <div id="red_bar_home">
       <p><%= notice %></p>
      <%= yield %>
    </div>
    <div id="body_write">
   
       <%= render :partial => "hello_text" %>
	 
    </div>
    <div id="footer">
    </div>  
  </div>
</body>
</html>
