<html>
<head>
<title>PrankDev</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"">
 <%= stylesheet_link_tag 'style.css' %>
</head>
<body>
  <div id="full_body">
    <div id="header">
    </div>
    <div id="logo_title">
      <div id="logo">
        <%= image_tag "logo.jpg" %>
      </div>
    
      <div id="menu">
		    <%= render :partial => "menu" %>
	    </div>
    </div>
    <p style="color: green"><%= notice %></p>
     <%= yield %>

    <div id="footer">
    </div>  
  </div>
</body>
</html>
